[submodule "public"]
	path = public
	url = git@personal.github.com:/datlife/datlife.github.io
	branch = master
[submodule "themes/paper"]
	path = themes/paper
	url = git@personal.github.com:datlife/hugo-paper.git
	branch = master
